@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-size: 62.5%;
    font-family: 'Pretendard Variable', system-ui, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .app {
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    box-shadow:
      0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }

  .layout {
    position: relative;
    min-height: calc(100dvh - 48px);
  }

  /* Tooltip Styles */
  .tooltiptext {
    @apply bg-gray-900 text-center text-c2 text-white;
    position: absolute;
    border-radius: 4px;
    z-index: 1;
    padding: 12px 10px;
  }
  .tooltip-top {
    bottom: 125%;
    left: 35%;
    margin-left: -60px;
  }
  .tooltip-top::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #292e41 transparent transparent transparent;
  }

  /* Tab Styles */
  #tab-container {
  }

  #tab-headings {
  }

  #tab-buttons {
    @apply relative flex border-b border-gray-200 text-b2-semibold text-black;
  }
  .tab-button {
    @apply flex-1 py-10;
  }
  .tab-button[data-tab-id='tab1'] {
    &[data-state='active'] {
      & ~ .tab-slider {
        transform: translateX(0);
      }
    }
  }
  .tab-button[data-tab-id='tab2'] {
    &[data-state='active'] {
      & ~ .tab-slider {
        transform: translateX(100%);
      }
    }
  }

  .tab-slider {
    @apply bottom-0 bg-violet-300;
    position: absolute;
    display: flex;
    height: 2px;
    width: 50%;
    z-index: 1;
    transition: 0.25s ease-out;
  }

  #tab-contents {
  }

  /* Step Slider Styles */
  #step-slider-container {
    @apply hidden;
  }

  .layout {
    section[data-step='juso'],
    section[data-step='passenger-count'],
    section[data-step='carpool-count'] {
      &:not(.hidden) ~ ul#step-slider-container {
        @apply absolute top-2 flex h-2 w-full gap-4 px-20;
      }
    }
  }

  .layout section[data-step='juso'] {
    &:not(.hidden) {
      & ~ ul .step-slider {
        transform: translateX(0);
      }
    }
  }
  .layout section[data-step='passenger-count'] {
    &:not(.hidden) {
      & ~ ul .step-slider {
        transform: translateX(calc(100% + 5px));
      }
    }
  }
  .layout section[data-step='carpool-count'] {
    &:not(.hidden) {
      & ~ ul .step-slider {
        transform: translateX(calc(200% + 10px));
      }
    }
  }
  .step-slider {
    @apply absolute h-2 w-[calc(33%-16px)] rounded-full bg-violet-300;
    transition: 0.25s ease-out;
    z-index: 1;
  }

  select {
    @apply rounded-4 bg-gray-100 py-8 pl-12 pr-28 text-b3-semibold text-gray-900;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  select.custom-select {
    background-image: url('../assets/select-arrow.svg');
    background-position: right 1.2rem bottom 1.2rem;
    background-repeat: no-repeat;
  }
}
